---
---

@import "{{ site.theme }}";

/* custom style */
.page-header {
  background: url(../images/old-passport.png) rgba(0, 0, 0, 0.83);
  background-size: cover;
  background-position-y: top;
  background-blend-mode: multiply;
}
